body {
    margin:0;
    padding:0;
}

*{
    box-sizing:border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.wrapper_box {
    margin: 5px 5px;
    padding: 20px 20px;
    border: 1px solid #c3c3c3;
    width: 100%;
    box-shadow: 0px 0px 2px 2px #f3f3f3;
    height: auto;
    max-width: 300px;
    background: #383838;
    border-radius:5px;
}
.wrapper_result {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0px;
    text-align: right;
    overflow-y: overlay;
    background: white;
    border-radius:5px;
}

.wrapper_result--prev{
    font-size:12px;
}
.wrapper_result--curr {
    font-size: 23px;
    font-weight:bold;
}

.wrapper_button{
    width:100%;
}
.wrapper_line--submit,
.wrapper_line {
    display: flex;
    flex:1;
    flex-direction: row;
    width:100%;
}
    .wrapper_line--submit input,
    .wrapper_line input {
        width: 100%;
        margin: 5px 5px;
        padding: 10px;
        border: none;
        background: black;
        color: white;
        border-radius: 5px;
    }
    .wrapper_line--submit input:nth-child(1){
        flex-basis:24%;
    }
        .wrapper_line--submit input:nth-child(2) {
            flex-basis: 24%;
        }
        .wrapper_line--submit input:nth-child(3) {
            flex-basis: 53.5%;
        }

.text_parentheses {
    opacity: 0.5;
}
.text_prev--hide{
    display:none;
}