body {
    margin:0;
    padding:0;
}

*{
    box-sizing:border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.wrapper_box {
    margin: 5px 5px;
    padding: 20px 20px;
    border: 1px solid black;
    width: 100%;
    height:auto;
    max-width:500px;
}
.wrapper_result{
    border:1px solid black;
    padding:10px;
    margin:10px 0px;
    text-align:right;
}

.wrapper_result--prev{
    font-size:12px;
}
.wrapper_result--curr {
    font-size: 23px;
    font-weight:bold;
}

.wrapper_button{
    width:100%;
}
.wrapper_line--submit,
.wrapper_line {
    display: flex;
    flex:1;
    flex-direction: row;
    width:100%;
}
    .wrapper_line--submit input,
    .wrapper_line input {
        width: 100%;
        margin: 5px 5px;
        padding: 10px;
    }
    .wrapper_line--submit input:nth-child(1){
        flex-basis:24%;
    }
        .wrapper_line--submit input:nth-child(2) {
            flex-basis: 24%;
        }
        .wrapper_line--submit input:nth-child(3) {
            flex-basis: 51%;
        }

.text_parentheses {
    opacity: 0.5;
}